.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 48px;
    width: 50%;
    transform: translateX(100%);
}

.pagination > * {
    padding: 0 20px;
}

.form__label {
    margin-right: 4px;
}

.form__select {

}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 32px;
}

.navigation__btn {
    background-color: transparent;
    border: none;
}
