.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 48px;
    width: 50%;
    transform: translateX(100%);
}

.pagination > * {
    padding: 0 20px;
}

.form__label {
    margin-right: 4px;
}

.form__select {
    background-color: #fff;
    border: 2px solid #777;
    border-radius: 4px;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    width: max-content;
    margin-right: 2px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 32px;
}

.navigation__btn {
    background-color: transparent;
    border: none;
}
